doctype html
html
  head
    meta(charset='utf-8')
    title 皮皮怪餐馆
    link(rel='stylesheet', href='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='css/style.css', type='text/css', rel='stylesheet')
  body
    body
      .container
        .row.clearfix
          .col-md-12.column
            ul.pagination
              li
                a(href='show.html') Prev
              li
                a(href='client.html') 1
              li
                a(href='index.html') 2
              li
                a(href='#3') 3
              li
                a(href='#4') 4
              li
                a(href='#5') 5
              li
                a(href='index.html') Next
            #carousel-717125.carousel.slide
              ol.carousel-indicators
                li(data-slide-to='0', data-target='#carousel-717125')
                li(data-slide-to='1', data-target='#carousel-717125')
                li.active(data-slide-to='2', data-target='#carousel-717125')
              .carousel-inner
                .item
                  img(alt='', src='images/01.png')
                  .carousel-caption
                    h4
                      | 风土乡情
                    p
                      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                .item
                  img(alt='', src='images/02.png')
                  .carousel-caption
                    h4
                      | 异域美食
                    p
                      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                .item.active
                  img(alt='', src='images/03.png')
                  .carousel-caption
                    h4
                      | 美食文化
                    p
                      | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              a.left.carousel-control(href='#carousel-717125', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
              a.right.carousel-control(href='#carousel-717125', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
            span.label.label-default 现场点餐
            .list-group
              //
                <a href="#" class="list-group-item active">全部商品</a>
                <div class="list-group-item">
                大门不出
                </div>
                <div class="list-group-item">
                二门不迈
                </div>
              .list-group-item
                span.badge 666
                |  皮皮怪餐馆欢迎您的光临！！
            .row.clearfix
              .col-md-3.column
                ul#myTab.nav.nav-pills.nav-stacked(class='role=', tablist='')
                  li.active
                    a(href='#snack', data-toggle='tab')
                      | 经典小吃
                  li
                    a(href='#drink', data-toggle='tab') 饮尿
                  li
                    a(href='#rice', data-toggle='tab') 主食
                  li
                    a(href='#noodle', data-toggle='tab') 面食
              .col-md-9.column
                #myTabContent.tab-content
                  #snack.tab-pane.fade.in.active
                    p 经典小吃是各个地方的特色小吃聚集在一起，让你体验不同的地域小吃风采。
                    #content.list
                      ul.list-pro
                        li
                          a(href='detail.html')
                            img.list-pic(src='images/ga.png')
                          .shop-list-mid
                            .tit
                              a(href='detail.html') 皮皮水
                            .am-gallery-desc ￥52
                          .list-cart
                            .d-stock
                              a.decrease -
                              input#num.text_box(readonly='', name='', type='text', value='0')
                              a.increase +
                  #drink.tab-pane.fade
                    p 饮尿是为很多人知道的一种不健康饮品，一般只有在沙漠里面才会尝试到，在这里也可以尝试，只需一分钟36度新鲜感受。
                    #content.list
                      ul.list-pro
                        li
                          a(href='detail.html')
                            img.list-pic(src='images/ga.png')
                          .shop-list-mid
                            .tit
                              a(href='detail.html') 皮皮水
                            .am-gallery-desc ￥52
                          .list-cart
                            .d-stock
                              a.decrease -
                              input#num.text_box(readonly='', name='', type='text', value='0')
                              a.increase +
                  #rice.tab-pane.fade
                    p 米饭颗粒饱满，能满足大部分的能量需求，怕吃不饱的就点我。
                    #content.list
                      ul.list-pro
                        li
                          a(href='detail.html')
                            img.list-pic(src='images/01.jpg')
                          .shop-list-mid
                            .tit
                              a(href='detail.html') 皮皮水
                            .am-gallery-desc ￥52
                          .list-cart
                            .d-stock
                              a.decrease -
                              input#num.text_box(readonly='', name='', type='text', value='0')
                              a.increase +
                  #noodle.tab-pane.fade
                    p 面食是北方人多爱吃的一种食物，丰富多样色彩鲜艳，口味丰富，是爽口的不二选择。
                    #content.list
                      ul.list-pro
                        li
                          a(href='detail.html')
                            img.list-pic(src='images/ga.png')
                          .shop-list-mid
                            .tit
                              a(href='detail.html') 皮皮水
                            .am-gallery-desc ￥52
                          .list-cart
                            .d-stock
                              a.decrease -
                              input#num.text_box(readonly='', name='', type='text', value='0')
                              a.increase +
            // 底部
            #footer
              nav.navbar.navbar-default.navbar-fixed-bottom
                .navbar-inner.navbar-content-center
                  .fix-bot
                    a.list-js(href='')
                      | 合计：
                      i 20元
                      em (1份)
                    div(style='float: right;')
                      a(href='order.html')
                        button.btn.btn-sucess(type='button') 选好了
          script.
            $(function() {
            $('.increase').click(function() {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            current_num += 1;
            if (current_num > 0) {
            self.siblings(".decrease").fadeIn();
            self.siblings(".text_box").fadeIn();
            }
            self.siblings('input').val(current_num);
            update_item(self.siblings('input').data('item-id'));
            })
            $('.decrease').click(function() {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            if (current_num > 0) {
            current_num -= 1;
            if (current_num < 1) {
            self.fadeOut();
            self.siblings(".text_box").fadeOut();
            }
            self.siblings('input').val(current_num);
            update_item(self.siblings('input').data('item-id'));
            }
            })
            $('.list-jsk').click(function() {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            if (current_num > 0) {
            current_num -= 1;
            if (current_num < 1) {
            self.fadeOut();
            self.siblings(".text_box").fadeOut();
            }
            self.siblings('input').val(current_num);
            update_item(self.siblings('input').data('item-id'));
            }
            })
            })
